In [1]:
import psycopg2
from feast import FeatureStore
from datetime import datetime
import pandas as pd
from _globo import globo, globo_source

c:\Users\felip\Documents\Projetos\fiap-datathon\.venv\lib\site-packages\feast\feature_view.py:48: DeprecationWarning: Entity value_type will be mandatory in the next release. Please specify a value_type for entity '__dummy'.
  DUMMY_ENTITY = Entity(

In [2]:
fs = FeatureStore(repo_path='.')

In [4]:
schema_sql = "select userid, timestamphistory as event_timestamp from table_full"

In [8]:
conn = psycopg2.connect(
            dbname="globo",
            user="postgres",
            password="admin1234",
            host="localhost",
            port="5432"
        )

# cursor = conn.cursor()
# cursor.execute(schema_sql)
# result = cursor.fetchall()
# columns = [desc[0] for desc in cursor.description]

entity_df = pd.read_sql(schema_sql, conn)

# cursor.close()
conn.close()

C:\Users\felip\AppData\Local\Temp\ipykernel_31032\1293141037.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  entity_df = pd.read_sql(schema_sql, conn)

In [ ]:
# CREATE INDEX idx_userid ON table_full(userid);
# CREATE INDEX idx_timestamphistory ON table_full(timestamphistory);
# CREATE INDEX idx_userid_timestamp ON table_full(userid, timestamphistory);

In [9]:
entity_df.head(10)

                                              userid         event_timestamp
0  c61a33ab2f25e15dcf2b6ce5a10841449076ac1c2949e1... 2022-07-07 23:41:10.589
1  cad8a801030c606547bb362d46991f8183d1f2a83e0de7... 2022-07-19 15:49:03.164
2  ce05f8fa2c1fb8c7566979055f18a06bcc9ca8519e94ac... 2022-07-01 13:09:03.205
3  f72c9db4b05efb2186985c70bab7dc0b437c65ba577891... 2022-07-18 23:52:36.354
4  37f4da88de6000af787062533bf9c1c502d43278ed4d6a... 2022-07-27 00:52:36.037
5  272cf2447610ce682c57ddddaefd07ee330b0fb937c5e7... 2022-08-08 16:19:46.414
6  e982a07f6f2823ece0f3bf5cee5a01a2eb5b269af5a2be... 2022-07-05 13:15:29.755
7  1733a41b11d36839c1c61ed1112b827ea0a1ef0981e511... 2022-07-04 14:11:45.481
8  8cfd43f3487b95cd7b2e209b91164be96e5964db002d90... 2022-07-01 11:51:01.812
9  3c5e97babafa79563cd3ac45f7d0086828a78adcd31db2... 2022-08-10 10:47:17.000

In [10]:
training_df = fs.get_historical_features(
    features=[
        "globo_fv:history",
        "globo_fv:numberofclickshistory"
    ],
    entity_df=entity_df
).to_df()